 body {
        font-size: 16px;
        transition: background 0.5s ease, color 0.5s ease;
       }
       .theme-switcher {
        text-align: center;
        margin-top: 50px;
       }

       button {
        margin: 10px;
        padding: 10px 20px;
        font-size: 25px;
        font-style: italic;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        transition: transform 0.3s;
       }
       button:hover {
        transform: translateY(-3px);
       }

         .light {
         background: white;
         color: black;
          }

         .dark {
         background: black;
         color: white;
         }

           .colorful {
           background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
           color: white;
          }
